/* Imgens de figuras para escolher se vai calcular  */
/* Ajustar tamanho das imagens ao passar por cima */
.img_hover{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    border: 2px solid black;
    width: 30%;
    height: 30%;
    background-color: #1E90FF;
 }
 
 /* Imgens de figuras para escolher se vai calcular  */
 .img_hover:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
 }


#nav_bar{
    background-color: #37367A;
 }

 /* Div na página index com informações do site */
 #informacao_index {
    color: #212121;
    width: 97%;
    text-align: left;
 }

 /* Barra de navegação (Menu) */
 .navbar{
   background-color: #1E2533;
   color: #c7d1e9;
 }

 /* Combobox no menu */
 .dropdown-menu{
   background-color: #293346;
 }

 /* Dicisão do combobox no menu */
 .dropdown-divider{
   background-color: #c7d1e9;
 }

 body{
   background-color: #6782C0;
 }

/* Ancoras dentro do menu */
 #a-menu{
   color: #c7d1e9;
 }

 /* Ancoras que estão dentro do combobox no menu */
 #a-menu-cbo{
   color: #c7d1e9;
 }

 /* Ancoras que estão dentro do combobox no menu */
 #a-menu-cbo:hover{
   background-color: #303c52;
 }

 /* Botão de pesquisar no menu */
 #btn-pes-menu{
   border-color: #5884EB;
   color: #5884EB;
 }

 /* Botão de pesquisar no menu */
 #btn-pes-menu:hover{
   background-color: #5884EB;
   border-color: #5884EB;
   color: white;
 }

 h1, h3, p{
   color: #1E2533;
 }

 /* Logo que aparece no menu da página */
 #logo_fm{
  width: 150px;
  height: 50px;
 }

 /* Imagens que aparecem no calcular dados da figura */
.img-cal-fig{
  border: 2px solid #6C757D;
}

.formulas-figuras{
  display: inline-block; 
  width: 33%; 
  background-color: rgb(142, 164, 238);
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.formulas-figuras img{
  border: 2px solid black;
}

@media (max-width: 875px){
  .formulas-figuras{
    width: 48%; 
    margin-bottom: 15px;
  }
}

@media (max-width: 500px){
  .formulas-figuras{
    width: 98%; 
    margin-bottom: 15px;
  }
}